.ins-c-inventory__no--access .pf-v6-c-empty-state__body > div {
    max-width: 500px;
    margin: auto;

    @media screen and (max-width: 768px) {
        max-width: 200px;
    }
}

.pf-v6-c-table__check input { cursor: pointer; }

.ins-c-inventory__table--toolbar {
    &:not(.ins-c-inventory__table--toolbar-has-items) {
        .pf-v6-c-pagination__nav-page-select input {  min-width: 4.68755rem; }
    }

    .ins-c-chip-filters .pf-v6-c-chip-group:not(:last-of-type) { margin-right: var(--pf-t-global--spacer--xs); }

    .ins-c-tagfilter { width: initial; }
}

.ins-c-table__empty {
    margin: 4.68755rem;
    border-bottom: none;

    pf-v6-c-content {
        text-align: center;
    }
}

.ins-c-inventory__tags-filter ul {
    label.pf-v6-c-check__label {
        display: flex;
        width: 100%;

        .ins-c-inventory__tags-filter--tag-name {
            margin-right: var(--pf-t-global--spacer--xs);
        }
        .pf-v6-c-badge { margin-left: auto; }
    }

    .ins-c-inventory__tags-tail {
        display: flex;

        .ins-c-inventory__tags-no-tags { margin: auto; }

        .pf-v6-c-spinner { margin-left: auto; }
    }
}

.ins-simple-table {
    .ins-health-status div {
        display: inline-block;
        padding-right: 20px;

        svg {
          position: relative;
            top: 2px;
            left: -2px;
        }
    }
}

.ins-c-entity-table.pf-v6-c-table {
    .pf-v6-c-table__td {
        vertical-align: middle;
    }
    .ins-health-status div {
        display: inline-block;
        padding-right: 20px;

        svg {
            position: relative;
            top: 2px;
            left: -2px;
        }

        span:nth-child(2) {
            color: var(--pf-t-global--color--status--info--100);
            cursor: pointer;
        }
    }

    .ins-composed-col {
        > :first-child {
            color: var(--pf-v6-c-button--m-disabled--Color);
            font-size: var(--pf-t-global--font--size--sm);
        }

        .ins-composed-col {
            cursor: pointer;
        }
    }

    .ins-c-inventory__list-tags {
        display: inline-block;
        
        .pf-v6-c-button {
            padding-left: 0;
        }
    }

    .ins-composed-col div {
        overflow-wrap: break-word;
        word-break: break-all;
        &:nth-child(2):not(.ins-m-nodetail) {
            color: var(--pf-v5-global--link--Color);
            cursor: pointer;
            &:hover { color: var(--pf-v5-global--link--Color--hover); }
        }
    }
}

.ins-c-inventory__tags-modal .ins-c-primary-toolbar .pf-v6-c-toolbar__content {
    padding: 0;
}

.ins-c-inventory__no-access { background-color: var(--pf-t-global--background--color--100); }

.pf-v6-c-table__action {
    .pf-v6-c-dropdown__toggle.pf-m-plain {
        padding-right: var(--pf-t-global--spacer--lg);
    }
}