language: node_js
sudo: required
notifications:
  email: false
node_js:
- '16'
install:
  - npm ci
script:
  - npm run verify
  - npm run test:ct
  - npm run coverage
after_success:
- curl -sSL https://raw.githubusercontent.com/RedHatInsights/insights-frontend-builder-common/master/src/bootstrap.sh | bash -s
env:
    global:
    - REPO="git@github.com:RedHatInsights/insights-inventory-frontend-build"
    - REPO_DIR="insights-inventory-frontend-build"
