PLAYWRIGHT_USER="" # Required
PLAYWRIGHT_PASSWORD="" # Required
BASE_URL="https://stage.foo.redhat.com:1337" # Required
PROXY=""            # Set this if running directly against stage (not using "npm local")
RH_CLIENT_PROXY=""  # Used by the RHSM Client - set this if running directly against stage (not using "npm start")

# ENVIRONMENT
CI=""            # This is set to true for CI jobs, if checking for CI do  !!process.env.CI
PROD=""          # Determines the environment used for the tests.
INTEGRATION=""   # When this is true, playwright test will run integration tests.
DOCKER_SOCKET="" # Required for integration tests using containers.

TOKEN="" # This is handled programmatically.