PLAYWRIGHT_USER="" # Required
PLAYWRIGHT_PASSWORD="" # Required
BASE_URL="https://stage.foo.redhat.com:1337" # Required
CI="" # This is set to true for CI jobs, if checking for CI do  !!process.env.CI
TOKEN="" # This is handled programmatically.
PROXY="" # Set this if running directly against stage (not using "npm local")

INTEGRATION=""   # When this is true, playwright test will run integration tests.
STAGE_BASE_URL="" # Required for stage tests