// js generates class '.page__{rootClass}' that wraps the content in your page added to the root tag
// Found in Routes.js as the rootClass

@import '../Utilities.scss';

.buttons {
    button + button {
        margin-left: $global-margin;
    }
}

.ins-inventory-filters .pf-v5-l-grid__item:not([class*="ins-"]) {
    margin-top: -4px;
}

.pf-v5-c-breadcrumb .pf-v5-c-breadcrumb__item .ins-c-skeleton { @include rem('width', 75px); }

.ins-c-inventory__detail--general-info:not(.ins-inventory-detail) {
    background: var(--pf-v5-global--BackgroundColor--100);
}

.ins-c-inventory__table--remove {
    .pf-v5-c-clipboard-copy {
        margin: 0 3rem;
    }

    .pf-v5-l-split:first-child {
        margin-bottom: 2rem;
    }
}

.ins-c-inventory__detail--breadcrumb-name {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
