// js generates class '.page__{rootClass}' that wraps the content in your page added to the root tag
// Found in Routes.js as the rootClass

@import '../Utilities.scss';

.buttons {
    button + button {
        margin-left: $global-margin;
    }
}

.ins-inventory-filters .pf-l-grid__item:not([class*="ins-"]) {
    margin-top: -4px;
}

.pf-c-breadcrumb .pf-c-breadcrumb__item .ins-c-skeleton { @include rem('width', 75px); }

.ins-c-inventory__detail--general-info:not(.ins-inventory-detail) {
    background: var(--pf-global--BackgroundColor--100);
}

svg.ins-m-alert {
    fill: var(--pf-global--warning-color--100);
}

.ins-c-inventory__table--remove {
    .pf-c-clipboard-copy {
        margin: 0 3rem;
    }

    .pf-l-split:first-child {
        margin-bottom: 2rem;
    }
}
