// js generates class '.page__{rootClass}' that wraps the content in your page added to the root tag
// Found in Routes.js as the rootClass

@import '../Utilities.scss';

.buttons {
    button + button {
        margin-left: $global-margin;
    }
}

.ins-inventory-filters .pf-l-grid__item:not([class*="ins-"]) {
    margin-top: -4px;
}

.pf-c-breadcrumb .pf-c-breadcrumb__item .ins-c-skeleton { @include rem('width', 75px); }

.ins-c-inventory__detail--general-info:not(.ins-inventory-detail) {
    background: var(--pf-global--BackgroundColor--100);
}

.ins-inventory-detail.ins-c-inventory__detail--general-info .pf-c-tabs__list {
    &:after {
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: var(--pf-c-tabs__item--BorderColor);
    }

    li:not(.pf-m-current) {
        button:before {
            border: solid var(--pf-c-tabs__item--BorderColor);
            border-width: var(--pf-c-tabs__item--BorderWidth) 0 var(--pf-c-tabs__item--BorderWidth) var(--pf-c-tabs__item--BorderWidth);
        }
    }
}

svg.ins-m-alert {
    fill: var(--pf-global--warning-color--100);
}

.ins-c-inventory__table--remove {
    .pf-c-clipboard-copy {
        margin: 0 3rem;
    }

    .pf-l-split:first-child {
        margin-bottom: 2rem;
    }
}

.ins-c-inventory__delete-button {
    margin-left: var(--pf-global--gutter--md);
}
