@import '../../Utilities.scss';

dl {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $global-margin;
}

dt {
    font-weight: bold;
    width: 20%;
}

dd {
    margin-left: auto;
    width: 80%;
}
