@import '../../Utilities.scss';

table.entity-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: $global-margin;
    margin-bottom: $global-margin;
    table-layout: fixed;

    &, td {
        border-top: 1px solid $dark;
        border-bottom: 1px solid $dark;
    }

    td {
        padding: 5px;
    }

    td.loading {
        text-align: center;
    }

    th.checkbox, th.actions {
        width: 50px;
    }
}
