// Sample Colors
$light: var(--pf-global--BackgroundColor--300);
$medium: #393f44;
$dark: #292e34;

$primary: #39a5dc;
$primary-dark: #0088ce;
$primary-shadow: #00659c;

$accent: #2A2E57;
$accent-dark: #20253b;
