@import '../Utilities.scss';

.alerts {
    position: fixed;
    top: 0;
    right: 0;
    margin: $global-padding;
    min-width: 400px;

    .pf-v5-c-alert + .pf-v5-c-alert {
        margin-top: $global-margin;
    }
}
