@import './src/Utilities.scss';
@import '~@redhat-cloud-services/frontend-components-notifications/index.css';

table.ins-entity-table th {
    padding: 1rem;
    padding-left: 2rem;
}

.inventory {
  height: 100%;
}
