name: 'Stage: Daily Frontend Suite'

on:
  schedule:
    - cron: '0 4 * * *' # This cron expression runs the action every 24 hours at 04:00 UTC
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }} # target branch
  cancel-in-progress: true

jobs:
  playwright-stage-check:
    runs-on:
      - codebuild-host-inventory-frontend-${{ github.run_id }}-${{ github.run_attempt }}
      - instance-size:large
      - buildspec-override:true

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          submodules: recursive

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "npm"

      - name: Create front-end .env file
        run: |
          # Check if the secrets are set
          if [ -z "$PLAYWRIGHT_USER" ]; then
            echo "Error: PLAYWRIGHT_USER secret is not set."
            exit 1
          fi

          if [ -z "$PLAYWRIGHT_PASSWORD" ]; then
            echo "Error: PLAYWRIGHT_PASSWORD secret is not set."
            exit 1
          fi

          # Create the .env file and write the secrets and other variables to it
          {
            echo "PLAYWRIGHT_USER=$PLAYWRIGHT_USER"
            echo "PLAYWRIGHT_PASSWORD=$PLAYWRIGHT_PASSWORD"
            echo "CI=true"
            echo "INTEGRATION=true"
            echo "BASE_URL=$STAGE_BASE_URL" 
            echo "PROXY=$RH_PROXY_URL"
          } >> .env 2>/dev/null

          echo ".env file created successfully."

      - name: Install front-end dependencies
        run: npm ci

      - name: Install Playwright
        run: npx playwright install --with-deps

      - name: Run front-end Playwright tests
        run: USE_CTRF=1 CURRENTS_PROJECT_ID=ER8tBy CURRENTS_RECORD_KEY=$CURRENTS_RECORD_KEY CURRENTS_CI_BUILD_ID="${{ github.repository }}-${{ github.run_id }}-${{ github.run_attempt }}" npx playwright test --grep-invert @integration

      - name: Publish front-end Test Report
        uses: ctrf-io/github-test-reporter@v1
        with:
          report-path: './playwright-ctrf/playwright-ctrf.json'
        if: ${{ !cancelled() }}

      - name: Store front-end Test report
        uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 10

      - name: Notify Slack on failure
        uses: slackapi/slack-github-action@v2.1.1
        if: ${{ failure() && github.event_name == 'schedule' && !cancelled() }}
        with:
          webhook: ${{ secrets.SLACK_WEBHOOK_URL }}
          webhook-type: incoming-webhook
          payload: |
            {
              "attachments": [
                {
                  "color": "#d72839",
                  "blocks": [
                    {
                      "type": "section",
                      "text": {
                        "type": "mrkdwn",
                        "text": "<${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}/ | :test_tube: [CI/CD] Daily Stage Inventory Frontend Test>: *failed* :red-stop: <!subteam^${{ secrets.SLACK_USER_GROUP }}|@hbi-frontend>"
                      }
                    }
                  ]
                }
              ]
            }

