name: Test runner
on:
  push:
    branches: ['master']
  pull_request:
    branches: ['master']
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - run: npm ci
      - run: npm run lint
      - name: Validate current commit (last commit) with commitlint
        if: github.event_name == 'push'
        run: npx commitlint --last --verbose
      - name: Validate PR commits with commitlint
        if: github.event_name == 'pull_request'
        run: npx commitlint --from ${{ github.event.pull_request.base.sha }} --to ${{ github.event.pull_request.head.sha }} --verbose
      - run: npm run ci:verify
      - name: Upload code coverage
        uses: codecov/codecov-action@v5.3.1
        with:
          fail_ci_if_error: true
          files: ./coverage/coverage-final.json,./coverage-jest/coverage-final.json,./coverage-cypress/coverage-final.json
          token: ${{ secrets.CODECOV_TOKEN }}
      - run: npm run build
